body {
}
h1 {
    font-size: 30px;
    line-height: 30px;
}
h1, h2, h4, h5, h6 {
    font-weight: 900;
    color: #616161;
    word-spacing: 1px;
    margin-bottom: 20px;
}
h3 {
  font-weight: 600;
  color: #616161;
  word-spacing: 1px;
  margin-bottom: 20px;
}
p.description {
    font-weight: 300;
    color: #616161;
    font-size: 20px;
    line-height: 30px;
}
.navbar-wrapper {
  color: black;
}
.navbar-inverse {
    border: none;
}
.jumbotron {
  margin-bottom:0;
  color: white;
    background-color: #222;
}
pre {
background-color: #222;
border: none;
color: white;
}
.jumbotron .glyphicon {
color: #ff6760;
}
footer {
    background-color: #222;
    color: white;
    padding-top: 55px;
    margin-top: 140px;
}
div.carousel {
  margin-bottom: 50px;
}
.features .glyphicon {
font-size: 48px;
color: grey;
}
a {
  color: black;
}
.img {
  padding-left: 0px;
  padding-right: 0px;
}
.img img {
  max-height: 580px;
}
.why_we {
  margin-top: 90px;
  margin-bottom: 45px;
}
.why {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 68em;
  margin-bottom: 10em;
}
.assembling-img {
  padding-left: 0px;
  padding-right: 0px;
}
.nav > li > a:hover {
  background-color: transparent;
}
i.fa {
  color: white;
}
.fa-ul > li {
  padding-bottom: 5px;
}
input {
  background-color: grey;
}
textarea {
  background-color: grey;
}
.message-btn {
  background-color: grey;
  padding: 5px 20px;
  border: 0px;
}
.hr {
  border: 1px solid grey;
  margin: 59px 0px 59px 0px;
}
.clientsphoto img{
    width: 80px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}
nav > ul > li > a {
   text-decoration: none;
}
.navbar-nav > li > a {
  padding: 3px;
}
.navbar-nav > li {
  margin: 12px;
}

.nav-link{
   position:relative;
}
.nav-link:hover::after{
   content:'';
   position:absolute;
   width: 100%;
   height: 0;
   left:0;
   bottom:0px; /*Change this to increase/decrease distance*/
   border-bottom: 2px solid #2D97D8;
}
ul.navbar-left {
  margin-top: 20px;
}
ul.navbar-right {
  margin-top: 20px;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}
.tools {
  width: 34%;
}
.about_us {
  margin-top: 25px;
  font-size: 19px;
  line-height: 26px;
}
li.nav-link > a:hover {
  color: #2D97D8;
}
li.nav-link > a {
  font-size: 13px;
}
.about {
  font-weight: 600;
}
.photo {
  color: #616161;
  margin-bottom: 35px;
}
.quote {
  margin-top: 30px;
}
.comments > h5 {
  color: #2D97D8;
  font-size: 16px;
}
.comments > p {
  color: #737373;
  font-size: 15px;
}
.quote > p {
  color: #353535;
  font-size: 13px;
}
.fridges {
  color: #616161;
}
.control-group {
  margin: 10px 0;
}
.span12 {
  border: 0px;
  padding: 5px 30px;
}
.span13 {
  border: 0px;
  padding: 5px 39px 5px 30px;
}
.reviews {
  margin-bottom: 50px;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(45,151,216, 0.5);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 20px;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.image-box:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.text {
  text-align: left;
  transition: .2s;
  margin-left: 40px;
}
.fst-pht-dsc {
  margin-top: 40px;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 0px;
  font-weight: 900;
}
.snd-pht-dsc {
  font-size: 21px;
  line-height: 26px;
  font-weight: 900;
}
.trd-pht-dsc {
  font-size: 13px;
  line-height: 16px;
  font-weight: 900;
}

.image-box:hover .text {
  opacity: 1;
  transform: translateY(0);
}
.ftr-title:after {
    content: '';
    width: 20px;
    height: 1px;
    background: #fff;
    display: block;
    margin-top: 17px;
    margin-bottom: 20px;
}
.snd-pht-dsc:after {
    content: '';
    width: 20px;
    height: 2px;
    background: #fff;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}
.fa-second {
  margin-left: 24px!important;
}
input::placeholder {
  color: white;
}
textarea::placeholder {
  color: white;
}
.main_name {
  font-size: 151px;
  top: 140px;
  position: absolute;
  text-align: center;
  width: 100%;
  font-weight: 600;
}
.main_desc {
  letter-spacing: .5px;
  font-size: 55px;
  top: 285px;
  position: absolute;
  text-align: center;
  width: 100%;
  font-weight: 600;
}
.grey_text {
  color: #E4E4E4;
}
.blue_text {
  color: #2D97D8;
}
.yellow_text {
  color: #FFD000;
}
.white_text {
  color: white;
}
.conditioner {
  margin-top: 140px;
}
.systems {
  margin-top: 55px;
}
.main-img {
}
.controls {
  width: 300px;
}
.controls textarea{
  width: 100%;
  height: 50px;
  resize: none;
}
.controls input{
  width: 100%;
  height: 30px;
  resize: none;
}
.logo_center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 67px;
}
.ch-img {
  height: 65px;
}
